gharrington11/GH-Project/pipeline/MovieLookUps.json
{
	"name": "MovieLookUps",
	"properties": {
		"activities": [
			{
				"name": "Retrieve_Metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT\n     b.[ObjectName]\n    ,FolderName = b.[ObjectValue]\n    ,SQLTable   = s.[ObjectValue]\n    ,Delimiter  = d.[ObjectValue]\nFROM [dbo].[Metadata_ADF] b\nJOIN [dbo].[Metadata_ADF] s ON b.[ObjectName] = s.[ObjectName]\nJOIN [dbo].[Metadata_ADF] d ON b.[ObjectName] = d.[ObjectName]\nWHERE   b.[SourceType] = 'BlobContainer'\n    AND s.[SourceType] = 'SQLTable'\n    AND d.[SourceType] = 'Delimiter';",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sql_movies_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "_notSet"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Loop over metadata",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Retrieve_Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Retrieve_Metadata').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copyblobtosql",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": "TRUNCATE TABLE dbo.@{item().SQLTable}",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "csv_movies_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": "@{item().FolderName}",
										"Delimiter": "@{item().Delimiter}"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "sql_movies_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "@{item().SQLTable}"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}